@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/*fonts
font-family: 'Luckiest Guy', cursive;
font-family: 'Open Sans', sans-serif;
*/
#App {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.806);
}
#topNav {
  height: 10%;
  padding: 20px;
  display: flex;
  gap: 50px;
  justify-content: center;
}
#Shop {
  height: 90%;
}
#shopContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.itemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  width: 300px;
  height: 330px;
}
.itemCardImageContainer {
  height: 60%;
  width: 60%;
}
.itemCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.infoName {
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
}
.infoDesc {
  font-family: "Open Sans", sans-serif, cursive;
  font-style: italic;
  margin-bottom: 10px;
}
.infoPriceBox {
  display: flex;
}

.dogeIcon {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.rarity-uncommon {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 187, 41, 1) 45%,
    rgba(0, 0, 0, 1) 100%
  );
}
.rarity-rare {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 233, 238, 1) 45%,
    rgba(0, 0, 0, 1) 100%
  );
}
.rarity-legendary {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(244, 156, 2, 1) 45%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-epic {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(244, 2, 173, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-gaminglegends {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 212, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-icon {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(39, 212, 204, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}
