@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}
.highlight {
  font-size: 1.05rem;
  font-weight: 700;
  color: whitesmoke;
}
/*fonts
font-family: 'Luckiest Guy', cursive;
font-family: 'Open Sans', sans-serif;
*/
#App {
  display: flex;
  flex-direction: column;
  position: relative;
}
#topNav {
  z-index: 2;
  position: fixed;
  display: flex;
  gap: 50px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 5px;
}
#Home {
  height: 100vh;
  background: url(/src/img/homebg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
#homeTitle {
  color: aliceblue;
  font-size: 4rem;
  padding-top: 250px;
  padding-left: 350px;
  padding-right: 350px;
  width: 100%;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}
#dogeHomeContainer {
  width: 320px;
  height: 320px;
  border-radius: 100%;
  margin-left: 40%;
  margin-top: 100px;
}
#dogeHomeImage {
  border-radius: 100%;

  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
#goToShop {
  font-size: 4rem;
  margin-left: 40%;
  font-family: "Luckiest Guy", cursive;
  text-decoration: none;
  color: black;
  transition: all 500ms ease;
  cursor: pointer;
}
#goToShop:hover {
  color: whitesmoke;
  padding-top: 10px;
  border-bottom: #d7ab5a solid 5px;
}
#Shop {
  height: 100%;
  width: 100%;
  background: url(/src/img/shopBg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#shopTitle {
  color: aliceblue;
  font-size: 2rem;
  margin-top: 60px;
  width: 100%;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  margin-bottom: -20px;
}
#shopContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 20px;
  padding: 80px;
}
.itemCard {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  width: 360px;
  height: 490px;
  border-radius: 10px;
}

.itemCardImageContainer {
  height: 60%;
  width: 60%;
}
.itemCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
}
.infoName {
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
}
.infoDesc {
  font-family: "Open Sans", sans-serif, cursive;
  font-style: italic;
  margin-bottom: 10px;
}
.infoPriceBox {
  display: flex;
}

.dogeIcon {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.itemCardAddToCardButton {
  border: none;
  outline: none;
  padding: 5px;
  background-color: purple;
  border-radius: 8px;
  background-color: #5086bd;
  color: rgb(0, 0, 0);
  font-weight: 800;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  transition: all 500ms ease;
  margin-bottom: 5px;
}
.itemCardAddToCardButton:hover {
  transform: scale(1.1);
}
.rarity-uncommon {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 187, 41, 1) 45%,
    rgba(0, 0, 0, 1) 100%
  );
}
.rarity-rare {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 233, 238, 1) 45%,
    rgba(0, 0, 0, 1) 100%
  );
}
.rarity-legendary {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(244, 156, 2, 1) 45%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-epic {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(244, 2, 173, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-gaminglegends {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 212, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-icon {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(39, 212, 204, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rarity-starwars {
  background: rgb(21, 19, 107);
  background: linear-gradient(
    152deg,
    rgba(21, 19, 107, 1) 5%,
    rgba(254, 255, 0, 1) 49%,
    rgba(13, 15, 101, 1) 92%
  );
}
.rarity-shadow {
  background: rgb(21, 20, 62);
  background: linear-gradient(
    152deg,
    rgb(31, 31, 38) 5%,
    rgba(0, 0, 0, 1) 49%,
    rgb(31, 31, 38) 95%
  );
}
.rarity-marvel {
  background: rgb(82, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(82, 0, 0, 1) 0%,
    rgba(213, 0, 0, 1) 51%,
    rgba(82, 0, 0, 1) 100%
  );
}
#Cart {
  background: url(/src/img/cartBg.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
#cartTitle {
  color: aliceblue;
  font-size: 2rem;
  margin-top: 60px;
  width: 100%;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  margin-bottom: -20px;
}
#cartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  padding-left: 450px;
  padding-right: 450px;
  min-height: 90vh;
}
.itemCartCard {
  position: relative;
  display: flex;
  border-bottom: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1px;
}
.imageContainer {
  height: 100px;
  width: 100px;
}
.itemCartImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.descriptionBox {
  display: flex;
  flex-direction: column;
}
.deleteFromCartBox {
  position: absolute;
  justify-self: flex-end;
  width: 8%;
  right: 10%;
}
.deleteFromCartBtn {
  padding: 5px;
  color: black;
  border-radius: 10px;
  outline: none;
  border: none;
  color: rgb(128, 67, 67);
  background-color: rgb(25, 24, 24);
  border: 1px solid rgb(93, 55, 55);
}
.deleteFromCartBtn:hover {
  transform: scale(1.05);
}
#total {
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
}
#toPaymentBtn {
  margin-left: 45%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

#toPaymentBtn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#toPaymentBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#toPaymentBtn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.topNavLink {
  border-bottom: 3px solid #d7ab5a;
  transition: all 0.25s linear;
  position: relative;
  text-decoration: none;
  color: rgb(189, 185, 185);
  font-size: 1.5rem;
  padding: 3px;
  font-family: "Luckiest Guy", cursive;
}

.topNavLink:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
  /*   will-change: transform; */
}

.topNavLink:hover:before {
  transform: scale(1);
}
#cartTotal {
  margin-top: 10px;
  margin-bottom: 20px;
}
#footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.969);
  padding: 20px;
}
#footerIcon {
  height: 50px;
}
.footerPb {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pb-inf {
  padding-left: 5px;
  color: white;
  text-decoration: none;
}
